<wc-social-link network="github" handle="evanplaice" style="fill:purple"></wc-social-link>
<wc-social-link network="linkedin" handle="evanplaice" style="fill:green"></wc-social-link>
<wc-social-link network="stackoverflow" handle="290340" style="fill:blue;"></wc-social-link>
<wc-social-link network="twitter" handle="evanplaice" style="fill: maroon;"></wc-social-link>
<wc-social-link network="rss" href="http://podcasts.joerogan.net/feed/rss" style="fill:orangered;"></wc-social-link>
<wc-social-link network="twitch" handle="evanplaice" style="fill:fuchsia;"></wc-social-link>
<wc-social-link network="gitlab" handle="evanplaice" style="fill:lightsalmon;"></wc-social-link>
<wc-social-link network="email" handle="evanplaice@gmail.com" style="fill:gray;"></wc-social-link>